* {
    padding: 0;
    margin: 0;
    font-family: 'Courgette', cursive;
}

body {
    background-image: url(../images/Picture1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1111111111;
    height: 65px;
    background-color: rgba(175, 238, 238, 0.716);

}

.navbar .nav-item {

    margin-left: 15px;


}

.navbar .nav-item .nav-link {

    font-weight: bold;
    color: RoyalBlue;
    position: relative;
    overflow: hidden;
}

.navbar .nav-item .nav-link i {
    color: rgba(240, 248, 255, 0.597);
    position: absolute;
    bottom: 40px;
    left: 20px;
}

@keyframes drop {
    0% {
        bottom: 40px
    }

    100% {
        bottom: 0;
    }

}

.navbar .nav-item:hover .nav-link i {
    animation-name: drop;
    animation-iteration-count: 1;
    animation-duration: 2s;
}


.navbar .navbar-brand {
    color: deepskyblue;
    font-size: 30px;
}

.navbar .nav-item .dropdown-menu {
    background-color: rgba(0, 191, 255, 0.829);
    border: solid 2px rgba(175, 238, 238, 0.716);
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: white;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: rgba(240, 248, 255, 0.605);
}



.home {
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;

}

.home .welcome {
    margin-top: 65px;
    height: 700px;

}

.home .welcome p {
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 150px;
    font-size: 30px;
    color: white;
    animation-name: ani;
    animation-iteration-count: 1;
    animation-duration: 7s;

}

@keyframes ani {
    0% {
        top: 600px;
    }

    100% {
        top: 150px;
    }
}

.home .welcome button {
    position: absolute;
    bottom: 350px;
    left: 500px;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: rgba(175, 238, 238, 0.716);
    animation-name: ani2;
    animation-iteration-count: 1;
    animation-duration: 7s;
}

.home .welcome button:hover {
    background-color: deepskyblue;
}

@keyframes ani2 {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 350px;
    }
}

.home .sea {
    height: 220px;
    background-image: url(../images/Picture2.jpg);
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;

}



.typeof {
    width: 100%;
    height: 3200px;
    background-color: rgba(175, 238, 238, 0.716);


}

.typeof .head {
    height: 500px;
    text-align: center;

}

.typeof .head img {
    position: relative;
    top: 0;
    width: 900px;
    height: 500px;
    animation-name: cloud;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes cloud {
    0% {
        top: 0;
    }

    50% {
        top: 50px;
    }

    100% {
        top: 0;
    }

}

.typeof .head h1 {
    position: absolute;
    top: 200px;
    right: 350px;
    z-index: 1000;
    margin-right: 30px;
    color: GhostWhite;
    font-weight: bold;
    font-size: 95px;
    animation-name: text1;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

@keyframes text1 {
    0% {
        top: 200;
    }

    50% {
        top: 270px;
    }

    100% {
        top: 200;
    }

}

.typeof .space {
    height: 400px;
}

.typeof .type1 {
    height: 500px;
    background-color: PaleTurquoise;
    padding: 0;
    margin-top: 30px;
    border-top-left-radius: 700px;
    border-bottom-left-radius: 700px;

}

.typeof .type1 .img {
    height: 500px;
    padding: 0;

}

.typeof .type1 .img img {
    width: 100%;
    height: 90%;
    margin-top: 25px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    box-shadow: 0 0 15px blue;


}

.typeof .type1 .text {
    padding: 0;
    height: 500px;
    border-top-left-radius: 700px;
    border-bottom-left-radius: 700px;

}

.typeof .type1 .text h2 {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 70px;
    font-weight: bold;
}

.typeof .type1 .text p {
    font-size: 30px;
    margin-left: 140px;
    margin-right: 30px;
    color: CornflowerBlue;
}

.typeof .type2 {
    padding: 0;
    height: 500px;
    background-color: LightSteelBlue;
    margin-top: 30px;
    border-top-right-radius: 700px;
    border-bottom-right-radius: 700px;
}

.typeof .type2 .img {
    height: 500px;
    padding: 0;

}

.typeof .type2 .img img {
    width: 100%;
    height: 90%;
    margin-top: 25px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: 0 0 15px blue;


}

.typeof .type2 .text {
    padding: 0;
    height: 500px;
    border-top-left-radius: 700px;
    border-bottom-left-radius: 700px;

}

.typeof .type2 .text h2 {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-right: 150px;
    font-size: 70px;
    font-weight: bold;
}

.typeof .type2 .text p {
    font-size: 30px;
    margin-left: 35px;
    margin-right: 30px;
    color: black;
}

.swimbenfit {
    width: 100%;
    height: 2700px;
    background-color: rgba(175, 238, 238, 0.716);

}

.swimbenfit .head {
    height: 500px;
    text-align: center;

}

.swimbenfit .head img {
    position: relative;
    top: 0;
    width: 900px;
    height: 500px;
    animation-name: cloud;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes cloud {
    0% {
        top: 0;
    }

    50% {
        top: 50px;
    }

    100% {
        top: 0;
    }

}

.swimbenfit .head h1 {
    position: absolute;
    top: 200px;
    right: 350px;
    z-index: 1000;
    margin-right: 30px;
    color: GhostWhite;
    font-weight: bold;
    font-size: 95px;
    animation-name: text;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

@keyframes text {
    0% {
        top: 200;
    }

    50% {
        top: 270px;
    }

    100% {
        top: 200;
    }

}

.swimbenfit .number1 {
    height: 100px;

}

.swimbenfit .number1 p {
    font-size: 90px;
    position: relative;
    left: 90px;
    bottom: 10px;
    color: white;

}

.swimbenfit .number1 .line {
    margin-top: 50px;
    margin-left: 200px;
    height: 10px;
    background-color: white;
}

.swimbenfit .number2 {
    height: 100px;

}

.swimbenfit .number2 p {
    font-size: 90px;
    position: relative;
    left: 90px;
    bottom: 10px;
    color: white;

}

.swimbenfit .number2 .line {
    margin-top: 50px;
    margin-left: 200px;
    height: 10px;
    background-color: white;
}

.swimbenfit .number3 {
    height: 100px;

}

.swimbenfit .number3 p {
    font-size: 90px;
    position: relative;
    left: 90px;
    bottom: 10px;
    color: white;

}

.swimbenfit .number3 .line {
    margin-top: 50px;
    margin-left: 200px;
    height: 10px;
    background-color: white;
}

.swimbenfit .number4 {
    height: 100px;

}

.swimbenfit .number4 p {
    font-size: 90px;
    position: relative;
    left: 90px;
    bottom: 10px;
    color: white;

}

.swimbenfit .number4 .line {
    margin-top: 50px;
    margin-left: 200px;
    height: 10px;
    background-color: white;
}

.swimbenfit .benefit1 {
    margin-top: 30px;
    padding: 0;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.193);

}

.swimbenfit .benefit1 .text {
    height: 400px;

}

.swimbenfit .benefit1 .text h1 {
    color: SteelBlue;
    margin-left: 20px;
}

.swimbenfit .benefit1 .text p {
    color: #1871f7;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


.swimbenfit .benefit1 .image {
    height: 400px;

}

.swimbenfit .benefit1 .image img {
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.swimbenfit .benefit1 .image #donate {
    width: 300px;
    margin-left: 200px;
}

.swimbenfit .benefit2 {
    margin-top: 30px;
    padding: 0;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.193);

}

.swimbenfit .benefit2 .text {
    height: 400px;

}

.swimbenfit .benefit2 .text h1 {
    color: SteelBlue;
    margin-left: 20px;
}

.swimbenfit .benefit2 .text p {
    color: #1871f7;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


.swimbenfit .benefit2 .image {
    height: 400px;

}

.swimbenfit .benefit2 .image img {
    width: 100%;
    height: 100%;
}

.swimhero {
    height: 1350px;
    width: 100%;
    background-color: rgba(175, 238, 238, 0.716);

}

.swimhero .head {
    height: 500px;
    text-align: center;

}

.swimhero .head img {
    position: relative;
    top: 0;
    width: 900px;
    height: 500px;
    animation-name: cloud;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes cloud {
    0% {
        top: 0;
    }

    50% {
        top: 50px;
    }

    100% {
        top: 0;
    }

}

.swimhero .head h1 {
    position: absolute;
    top: 200px;
    right: 390px;
    z-index: 1000;
    margin-right: 30px;
    color: GhostWhite;
    font-weight: bold;
    font-size: 95px;
    animation-name: text;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

@keyframes text {
    0% {
        top: 200;
    }

    50% {
        top: 270px;
    }

    100% {
        top: 200;
    }

}

.swimhero .container-fluid .row {
    justify-content: space-around;
}

.swimhero .hero {
    padding: 0;
    height: 700px;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px white;
    overflow: hidden;

}

.swimhero .hero img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 7px rgba(255, 255, 255, 0.475);

}

.swimhero .hero .caption {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 0;
    transition: all 2s;
    transform: translate(500px);
    overflow: hidden;


}

.hero:hover .caption {
    bottom: 700px;
    transform: translate(0px);

}

.swimhero .hero .caption h1 {
    margin-top: 100px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.swimhero .hero .caption #p1 {
    color: black;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    top: 600px;
    border-radius: 15px;
    background-color: white;
    transition: all 3s;
}

.swimhero .hero:hover .caption #p1 {
    top: 0;
    transform: rotate(360deg);
}

.swimhero .hero .caption #p2 {
    text-align: center;
    margin: 10px 30px;
    color: white;
    font-size: 15px;

}





footer {
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #3586ff;


}

footer .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
    overflow: hidden;
}

.wave.wave1 {
    animation: sea 30s linear infinite;
    z-index: 1000;
    opacity: 1;

    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2 {
    animation: sea2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave.wave3 {
    animation: sea 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave.wave4 {
    animation: sea2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 20px;
}

@keyframes sea {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }

}

@keyframes sea2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }

}

footer .about {
    height: 300px;

}

footer .about h1 {
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}

footer .about p {
    margin-left: 30px;
    color: white;
    font-size: 18px;
}

footer .refr {
    height: 300px;

}

footer .refr ul {
    color: white;

}

footer .refr ul li {
    margin-left: 20px;
}

footer .refr ul li a {
    color: white;
    text-decoration: none;
}

footer .refr h1 {
    color: white;
    margin-top: 30px;

}

footer .copy {
    height: 300px;
    font-size: 20px;


}

footer .copy h1 {
    color: white;
    margin-top: 30px;
    margin-left: 30px;

}

footer .copy p {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}

footer .copy p a {
    color: white;
    text-decoration: none;
}

footer .copy p a:hover {
    color: blue;
}


@media (max-width:580px) {
   
    .col-lg-12 {
        padding: 0;
    }

    body {
        background-image: url(../images/Picture1.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        overflow-x: hidden;


    }

    .navbar {
        width: 100%;
        position: fixed;
        top: 0;

        z-index: 9999999999999;
        height: 65px;
        background-color: rgba(175, 238, 238, 0.716);

    }

    .navbar .navbar-collapse {
        background-color: rgba(175, 238, 238, 0.716);
        width: 100%;


    }

    .navbar .nav-item {

        margin-left: 15px;


    }

    .navbar .nav-item .nav-link {

        font-weight: bold;
        color: RoyalBlue;
        position: relative;
        overflow: hidden;
    }

    .navbar .nav-item .nav-link i {
        color: rgba(240, 248, 255, 0.597);
        position: absolute;
        bottom: 40px;
        left: 20px;
    }

    @keyframes drop {
        0% {
            bottom: 40px
        }

        100% {
            bottom: 0;
        }

    }

    .navbar .nav-item:hover .nav-link i {
        animation-name: drop;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }


    .navbar .navbar-brand {
        color: deepskyblue;
        font-size: 30px;
        position: fixed;
        left: 310px
    }

    .navbar .nav-item .dropdown-menu {
        background-color: rgba(0, 191, 255, 0.829);
        border: solid 2px rgba(175, 238, 238, 0.716);
    }

    .navbar .nav-item .dropdown-menu .dropdown-item {
        color: white;
    }

    .navbar .nav-item .dropdown-menu .dropdown-item:hover {
        background-color: rgba(240, 248, 255, 0.605);
    }



    .home {

        width: 100%;
        height: 700px;
        position: relative;
        display: flex;
        justify-content: center;

    }

    .home .welcome {
        margin-top: 0px;
        height: 700px;


    }

    .home .welcome p {
        text-align: center;
        font-weight: bold;
        position: relative;
        top: 150px;
        font-size: 25px;
        color: white;
        animation-name: ani;
        animation-iteration-count: 1;
        animation-duration: 7s;

    }

    @keyframes ani {
        0% {
            top: 600px;
        }

        100% {
            top: 150px;
        }
    }

    .home .welcome button {
        position: absolute;
        bottom: 250px;
        left: 75px;
        width: 210px;
        height: 50px;
        border-radius: 30px;
        border: none;
        font-size: 20px;
        color: white;
        background-color: rgba(175, 238, 238, 0.716);
        animation-name: ani2;
        animation-iteration-count: 1;
        animation-duration: 7s;
    }

    .home .welcome button:hover {
        background-color: deepskyblue;
    }

    @keyframes ani2 {
        0% {
            bottom: 0px;
        }

        100% {
            bottom: 250px;
        }
    }

    .home .sea {
        height: 200px;
        background-image: url(../images/Picture2.jpg);
        background-size: 100% 100%;
        position: absolute;
        bottom: 0px;

    }



    .typeof {
        width: 100%;
        height: 6200px;
        background-color: rgba(175, 238, 238, 0.716);


    }

    .typeof .head {
        height: 320px;
        text-align: center;
    }

    .typeof .head img {
        position: relative;
        top: 0;
        right: 20px;
        width: 395px;
        height: 300px;
        animation-name: cloud;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes cloud {
        0% {
            top: 0;
        }

        50% {
            top: 50px;
        }

        100% {
            top: 0;
        }

    }

    .typeof .head h1 {
        position: absolute;
        top: 90px;
        right: 0px;
        z-index: 1000;
        margin-right: 30px;
        color: GhostWhite;
        font-weight: bold;
        font-size: 50px;
        animation-name: text1;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes text1 {
        0% {
            top: 90px;
        }

        50% {
            top: 150px;
        }

        100% {
            top: 90px;
        }

    }

    .typeof .space {
        height: 400px;
        display: none;
    }

    .typeof .type1 {
        height: 1000px;
        background-color: PaleTurquoise;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 140px;
        border-radius: 100px;

    }

    .typeof .type1 .img {
        height: 500px;
        padding: 0;

    }

    .typeof .type1 .img img {
        width: 90%;
        height: 90%;
        margin-left: 15px;
        margin-top: 25px;
        border-radius: 100px;
        box-shadow: 0 0 15px blue;


    }

    .typeof .type1 .text {
        padding: 0;
        height: 465px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    .typeof .type1 .text h2 {
        text-align: center;
        color: white;
        margin: 30px 0;
        margin-left: 0px;
        font-size: 40px;
        font-weight: bold;
    }

    .typeof .type1 .text p {
        font-size: 25px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin: auto;
        color: CornflowerBlue;
    }

    .typeof .type2 {
        height: 1100px;
        background-color: PaleTurquoise;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 100px;
        border-radius: 100px;

    }

    .typeof .type2 .img {
        height: 500px;
        padding: 0;

    }

    .typeof .type2 .img img {
        width: 90%;
        height: 80%;
        margin-left: 15px;
        margin-top: 50px;
        border-radius: 100px;
        box-shadow: 0 0 15px blue;


    }

    .typeof .type2 .text {
        padding: 0;
        text-align: center;
        height: 500px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    .typeof .type2 .text h2 {
        text-align: center;
        color: white;
        margin: 30px 0 0 0;
        font-size: 40px;
        font-weight: bold;
    }

    .typeof .type2 .text p {
        font-size: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin: 0 15px;
        color: CornflowerBlue;
    }


    .swimbenfit {
        width: 100%;
        height: 5600px;
        background-color: rgba(175, 238, 238, 0.716);

    }

    .swimbenfit .head {
        height: 320px;
        text-align: center;

    }

    .swimbenfit .head img {
        position: relative;
        top: 0;
        right: 20px;
        width: 395px;
        height: 300px;
        animation-name: cloud;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes cloud {
        0% {
            top: 0;
        }

        50% {
            top: 50px;
        }

        100% {
            top: 0;
        }

    }

    .swimbenfit .head h1 {
        position: absolute;
        top: 90px;
        right: 0px;
        z-index: 1000;
        margin-right: 30px;
        color: GhostWhite;
        font-weight: bold;
        font-size: 50px;
        animation-name: text1;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes text1 {
        0% {
            top: 90px;
        }

        50% {
            top: 150px;
        }

        100% {
            top: 90px;
        }

    }

    .swimbenfit .number1 {
        height: 100px;

    }

    .swimbenfit .number1 p {
        font-size: 90px;
        position: relative;
        left: 0px;
        bottom: 10px;
        color: white;

    }

    .swimbenfit .number1 .line {
        margin-top: 0px;
        margin-left: 150px;
        position: relative;
        bottom: 90px;
        height: 10px;
        background-color: white;
    }

    .swimbenfit .number2 {
        height: 100px;
        direction: rtl;

    }

    .swimbenfit .number2 p {
        font-size: 90px;
        position: relative;
        left: 0px;
        bottom: 10px;
        color: white;

    }

    .swimbenfit .number2 .line {
        margin-top: 0px;
        margin-left: 150px;
        position: relative;
        right: 140px;
        top: 60px;
        height: 10px;
        background-color: white;
    }

    .swimbenfit .number3 {
        height: 100px;

    }

    .swimbenfit .number3 p {
        font-size: 90px;
        position: relative;
        left: 0px;
        bottom: 10px;
        color: white;

    }

    .swimbenfit .number3 .line {
        margin-top: 0px;
        margin-left: 150px;
        position: relative;
        bottom: 90px;
        height: 10px;
        background-color: white;
    }

    .swimbenfit .number4 {
        height: 100px;
        direction: rtl;

    }

    .swimbenfit .number4 p {
        font-size: 90px;
        position: relative;
        left: 0px;
        bottom: 10px;
        color: white;

    }

    .swimbenfit .number4 .line {
        margin-top: 0px;
        margin-left: 150px;
        position: relative;
        right: 140px;
        top: 60px;
        height: 10px;
        background-color: white;
    }

    .swimbenfit .benefit1 {
        margin-top: 30px;
        padding: 0;
        height: 1350px;
        background-color: rgba(255, 255, 255, 0.193);

    }

    .swimbenfit .benefit1 .text {
        height: 900px;

    }

    .swimbenfit .benefit1 .text h1 {
        color: SteelBlue;
        margin-left: 20px;
    }

    .swimbenfit .benefit1 .text p {
        color: #1871f7;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }


    .swimbenfit .benefit1 .image {
        height: 400px;

    }

    .swimbenfit .benefit1 .image img {
        width: 100%;
        height: 100%;
    }

    .swimbenfit .benefit1 .image #donate {
        width: 300px;
        margin-left: 0px;
        position: relative;
        bottom: 100px;
    }

    .swimbenfit .benefit2 {
        margin-top: 30px;
        padding: 0;
        height: 1000px;
        background-color: rgba(255, 255, 255, 0.193);

    }

    .swimbenfit .benefit2 .text {
        height: 400px;

    }

    .swimbenfit .benefit2 .text h1 {
        color: SteelBlue;
        margin-left: 20px;
    }

    .swimbenfit .benefit2 .text p {
        color: #1871f7;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }


    .swimbenfit .benefit2 .image {
        height: 400px;

    }

    .swimbenfit .benefit2 .image img {
        width: 100%;
        height: 100%;
    }


    .swimbenfit .benefit .image {
        margin-top: 300px;
        height: 400px;

    }

    .swimbenfit .benefit .image img {
        width: 100%;
        height: 100%;
    }

    .swimhero {
        height: 2700px;
        width: 100%;
        background-color: rgba(175, 238, 238, 0.716);

    }

    .swimhero .head {
        height: 320px;
        text-align: center;

    }

    .swimhero .head img {
        position: relative;
        top: 0;
        right: 20px;
        width: 395px;
        height: 300px;
        animation-name: cloud;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }

    @keyframes cloud {
        0% {
            top: 0;
        }

        50% {
            top: 50px;
        }

        100% {
            top: 0;
        }

    }

    .swimhero .head h1 {
        position: absolute;
        top: 90px;
        right: 0px;
        z-index: 1000;
        margin-right: 30px;
        color: GhostWhite;
        font-weight: bold;
        font-size: 50px;
        animation-name: text1;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes text1 {
        0% {
            top: 90px;
        }

        50% {
            top: 150px;
        }

        100% {
            top: 90px;
        }

    }


    footer {
        height: 1000px;
        position: relative;
        overflow: hidden;
        background-color: #3586ff;


    }

    footer .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../images/wave.png);
        background-size: 500px 100px;
        overflow: hidden;
    }

    .wave.wave1 {
        animation: sea 30s linear infinite;
        z-index: 1000;
        opacity: 1;

        animation-delay: 0s;
        bottom: 0;
    }

    .wave.wave2 {
        animation: sea2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }

    .wave.wave3 {
        animation: sea 30s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15px;
    }

    .wave.wave4 {
        animation: sea2 15s linear infinite;
        z-index: 997;
        opacity: 0.7;
        animation-delay: -2s;
        bottom: 20px;
    }

    @keyframes sea {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: 1000px;
        }

    }

    @keyframes sea2 {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: -1000px;
        }

    }

    footer .about {
        height: 300px;

    }

    footer .about h1 {
        color: white;
        margin-top: 30px;
        margin-left: 30px;
    }

    footer .about p {
        margin-left: 30px;
        color: white;
        font-size: 18px;
    }

    footer .refr {
        position: relative;
        top: 120px;
        height: 300px;


    }

    footer .refr h1 {
        color: white;
        margin-top: 30px;
        margin-left: 50px;

    }

    footer .refr ul {
        color: white;
        margin-left: 50px;

    }

    footer .refr ul li {
        margin-left: 20px;
    }

    footer .refr ul li a {
        color: white;
        text-decoration: none;
    }



    footer .copy {
        margin-top: 40px;
        height: 300px;
        font-size: 20px;


    }

    footer .copy h1 {
        color: white;
        margin-top: 30px;
        margin-left: 30px;

    }

    footer .copy p {
        color: white;
        margin-left: 30px;
        margin-top: 30px;
    }

    footer .copy p a {
        color: white;
        text-decoration: none;
    }

    footer .copy p a:hover {
        color: blue;
    }

}

/* @media (max-width:800px) {


    .navbar .navbar-brand {
        color: deepskyblue;
        font-size: 30px;
        position: fixed;
        left: 700px;
    }

    .home {
        width: 100%;
        height: 800px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .home .welcome p {
        text-align: center;
        font-weight: bold;
        position: relative;
        top: 165px;
        font-size: 25px;
        color: white;
        animation-name: ani;
        animation-iteration-count: 1;
        animation-duration: 7s;

    }

    @keyframes ani {
        0% {
            top: 600px;
        }

        100% {
            top: 165px;
        }
    }

    .home .welcome button {
        position: absolute;
        bottom: 350px;
        left: 250px;
        width: 210px;
        height: 50px;
        border-radius: 30px;
        border: none;
        font-size: 20px;
        color: white;
        background-color: rgba(175, 238, 238, 0.716);
        animation-name: ani2;
        animation-iteration-count: 1;
        animation-duration: 7s;
    }

    .home .welcome button:hover {
        background-color: deepskyblue;
    }

    @keyframes ani2 {
        0% {
            bottom: 0px;
        }

        100% {
            bottom: 350px;
        }
    }



    .typeof {
        width: 100%;
        height: 3700px;
        background-color: rgba(175, 238, 238, 0.716);


    }

    .typeof .head {
        height: 320px;
        text-align: center;

    }

    .typeof .head img {
        position: relative;
        top: 0;
        right: 40px;
        width: 550px;
        height: 300px;
        animation-name: cloud;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }

    @keyframes cloud {
        0% {
            top: 0;
        }

        50% {
            top: 50px;
        }

        100% {
            top: 0;
        }

    }

    .typeof .head h1 {
        position: absolute;
        top: 130px;
        right: 180px;
        z-index: 1000;
        margin-right: 30px;
        color: GhostWhite;
        font-weight: bold;
        font-size: 50px;
        animation-name: text2;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes text2 {
        0% {
            top: 130px;
        }

        50% {
            top: 170px;
        }

        100% {
            top: 130px;
        }

    }


    .typeof .type1 {
        height: 500px;
        background-color: PaleTurquoise;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 140px;
        border-radius: 100px;

    }



    .typeof .type2 {
        height: 550px;
        background-color: PaleTurquoise;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 100px;
        border-radius: 100px;

    }

    .typeof .type2 .img {
        height: 570px;
        padding: 0;

    }



    .swimbenfit {
        width: 100%;
        height: 3900px;
        background-color: rgba(175, 238, 238, 0.716);
        ;
    }

    .swimbenfit .head {
        height: 320px;
        text-align: center;

    }

    .swimbenfit .head img {
        position: relative;
        top: 0;
        right: 40px;
        width: 550px;
        height: 300px;
        animation-name: cloud;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }

    @keyframes cloud {
        0% {
            top: 0;
        }

        50% {
            top: 50px;
        }

        100% {
            top: 0;
        }

    }

    .swimbenfit .head h1 {
        position: absolute;
        top: 130px;
        right: 180px;
        z-index: 1000;
        margin-right: 30px;
        color: GhostWhite;
        font-weight: bold;
        font-size: 50px;
        animation-name: text2;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes text2 {
        0% {
            top: 130px;
        }

        50% {
            top: 170px;
        }

        100% {
            top: 130px;
        }

    }

    .swimbenfit .benefit1 {
        margin-top: 30px;
        padding: 0;
        height: 900px;
        background-color: rgba(255, 255, 255, 0.193);

    }

    .swimbenfit .benefit1 .text {
        height: 900px;

    }

    .swimbenfit .benefit1 .text h1 {
        color: SteelBlue;
        margin-left: 20px;
    }

    .swimbenfit .benefit1 .text p {
        color: #1871f7;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }


    .swimbenfit .benefit1 .image {
        height: 800px;

    }

    .swimbenfit .benefit1 .image img {
        width: 100%;
        height: 100%;
    }

    .swimbenfit .benefit1 .image #donate {
        width: 300px;
        margin-left: 0px;
        position: relative;
        bottom: 100px;
    }

    .swimbenfit .benefit2 {
        margin-top: 30px;
        padding: 0;
        height: 600px;
        background-color: rgba(255, 255, 255, 0.193);

    }

    .swimbenfit .benefit2 .text {
        height: 400px;

    }

    .swimbenfit .benefit2 .text h1 {
        color: SteelBlue;
        margin-left: 20px;
    }

    .swimbenfit .benefit2 .text p {
        color: #1871f7;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }


    .swimbenfit .benefit2 .image {
        height: 600px;

    }

    .swimbenfit .benefit2 .image img {
        width: 100%;
        height: 100%;
    }


    .swimbenfit .benefit .image {
        margin-top: 300px;
        height: 400px;

    }

    .swimbenfit .benefit .image img {
        width: 100%;
        height: 100%;
    }

    .swimhero {
        height: 2700px;
        width: 100%;
        background-color: rgba(175, 238, 238, 0.716);

    }

    .swimhero .head {
        height: 320px;
        text-align: center;

    }

    .swimhero .head img {
        position: relative;
        top: 0;
        right: 40px;
        width: 550px;
        height: 300px;
        animation-name: cloud;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }

    @keyframes cloud {
        0% {
            top: 0;
        }

        50% {
            top: 50px;
        }

        100% {
            top: 0;
        }

    }

    .swimhero .head h1 {
        position: absolute;
        top: 130px;
        right: 200px;
        z-index: 1000;
        margin-right: 30px;
        color: GhostWhite;
        font-weight: bold;
        font-size: 50px;
        animation-name: text2;
        animation-duration: 7s;
        animation-iteration-count: infinite;

    }

    @keyframes text2 {
        0% {
            top: 130px;
        }

        50% {
            top: 170px;
        }

        100% {
            top: 130px;
        }

    }

    .swimhero .hero .caption h1 {
        margin-top: 100px;
        font-size: 50px;
        color: white;
        text-align: center;
    }

    .swimhero .hero .caption #p1 {
        color: black;
        font-size: 15px;
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 20px;
        position: relative;
        top: 600px;
        border-radius: 15px;
        background-color: white;
        transition: all 3s;
    }

    .swimhero .hero .caption #p2 {
        text-align: center;
        margin: 10px 60px;
        color: white;
        font-size: 20px;

    }

    footer {
        height: 1000px;
        position: relative;
        overflow: hidden;
        background-color: #3586ff;


    }

    footer .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../images/wave.png);
        background-size: 500px 100px;
        overflow: hidden;
    }

    .wave.wave1 {
        animation: sea 30s linear infinite;
        z-index: 1000;
        opacity: 1;

        animation-delay: 0s;
        bottom: 0;
    }

    .wave.wave2 {
        animation: sea2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }

    .wave.wave3 {
        animation: sea 30s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15px;
    }

    .wave.wave4 {
        animation: sea2 15s linear infinite;
        z-index: 997;
        opacity: 0.7;
        animation-delay: -2s;
        bottom: 20px;
    }

    @keyframes sea {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: 1000px;
        }

    }

    @keyframes sea2 {
        0% {
            background-position-x: 0;
        }

        100% {
            background-position-x: -1000px;
        }

    }

    footer .about {
        height: 100px;

    }

    footer .about h1 {
        color: white;
        margin-top: 30px;
        margin-left: 30px;
    }

    footer .about p {
        margin-left: 30px;
        color: white;
        font-size: 18px;
    }

    footer .refr {
        height: 300px;
        margin-top: 200px;

    }

    footer .refr ul {
        color: white;

    }

    footer .refr ul li {
        margin-left: 20px;
        margin-left: 50px;
    }

    footer .refr ul li a {
        color: white;
        text-decoration: none;
    }

    footer .refr h1 {
        color: white;
        margin: 30px 0;
        margin-left: 30px;

    }

    footer .copy {
        height: 300px;
        font-size: 20px;


    }

    footer .copy h1 {
        color: white;
        margin-top: 30px;
        margin-left: 30px;

    }

    footer .copy p {
        color: white;
        margin-left: 30px;
        margin-top: 30px;
    }

    footer .copy p a {
        color: white;
        text-decoration: none;
    }

    footer .copy p a:hover {
        color: blue;
    }
} */